<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.pushtorefresh.storio3.sample">

    <application
        android:name="com.pushtorefresh.storio3.sample.SampleApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"> <!-- Ignoring fullBackupContent for APIs lower than 23 -->

        <activity
            android:name="com.pushtorefresh.storio3.sample.ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pushtorefresh.storio3.sample.ui.activity.TweetsSQLiteSampleActivity"
            android:label="@string/tweets_db_sample_label" />

        <activity
            android:name="com.pushtorefresh.storio3.sample.ui.activity.TweetsContentResolverSampleActivity"
            android:label="@string/tweets_content_resolver_sample_label" />

        <activity
            android:name="com.pushtorefresh.storio3.sample.many_to_many_sample.ManyToManyActivity"
            android:label="@string/many_to_many" />

        <activity
            android:name="com.pushtorefresh.storio3.sample.sqldelight.SqlDelightActivity"
            android:label="@string/sqldelight" />

        <provider
            android:name="com.pushtorefresh.storio3.sample.provider.SampleContentProvider"
            android:authorities="com.pushtorefresh.storio3.sample_provider"
            android:exported="false" />

    </application>

</manifest>
